*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.hero1 {
  background-image: url(/src/assets/pngwing\ 1.png);
}

*[class*="-heading"]::before {
  width: 15%;
  content: "";
  background: #473bf0;
  height: 0.25rem;
  position: absolute;
  top: 0;
  left: 44%;
}

.react-calendar .highlight {
  background-color: #aaa5f8;
  border-radius: 80%;
  color: #473bf0;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.current-date {
  background-color: #473BF0; /* Change background color to blue */
  border-radius: 100%; /* Add border radius */
  color: white; /* Change text color to white for better visibility */
}

.testimonial-container:hover > .test-con {
  animation-play-state: paused;
}
.test-con {
  animation: slideLg 35s infinite linear;
}
@keyframes slideMd {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 80px));
  }
}
@keyframes slideLg {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 144px));
  }
}

@media (max-width: 768px) {
  .test-con {
    animation: slideMd 30s infinite linear;
  }
}
@media (min-width: 768px) {
  .testimonial-container::before,
  .testimonial-container::after {
    content: "";
    width: 15em;
    height: 100%;
    z-index: 100;
    position: absolute;
  }
  .testimonial-container::before {
    left: 0;
    background: linear-gradient(to left, transparent, #ebe9fd);
  }
  .testimonial-container::after {
    right: 0;
    background: linear-gradient(to right, transparent, #ebe9fd);
  }
}
